@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sansbold';
    src: url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/notosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*headers starts*/

.container {
	width: 1180px;
	padding-left: 0;
	padding-right: 0;
}

.no-gutter {
	padding-left: 0;
	padding-right: 0;
}


.top-header {
	max-width: 100%;
	background:url("/images/top-header-bg.png") no-repeat center;
	min-height: 60px;
	padding-top: 16px ;
}

.top-header-content {
	border-right: 1px solid #b5c0c0;
	height: 40px
}

.top-header .top-header-content p, .top-header-content.platter p a {
    font-family: 'noto_sansregular';
	padding-right:10px;
	color: #fff;
	font-size: 14px;
	padding-top: 6px;
}

.top-header .top-header-content .dropdown .drop-down-button {
	min-width: 170px;
}

.top-header .top-header-content .locations  {
	min-width: 170px;
	left: 72px;
	top:30px;
	border-top: none;
	border-radius: 0;
}

.top-header .top-header-content .click {
    margin-left: 80px;
}

 .top-header-content.platter p a {
 	text-decoration: none;
 }


.top-header-content.sign-up {
	border: none;
	padding-left: 4px;
	margin: 4px 0 0 0;
}
 .top-header-content.sign-up a {
 	padding:10px;
 	background: #607682;
 	font-size: 10px;
 	text-transform: uppercase;
 	color: #fff;
    font-family: 'noto_sansregular';
    text-decoration: none;
 }

 .top-header-content.sign-up.login a {
 	background: #f25648;
 }

 .second-header {
 	/*float: left;*/
 	width: 100%;
 	background: url(/images/bottom-header-bg.png) no-repeat;
 	height: 60px;
 }

 .home-icon {
 	float: left;
 	background: url(/images/home.png) no-repeat;
 	width: 32px;
 	height: 32px;
 	margin-top: 15px;
 }

 nav .menu li {
	float: left;
	list-style: none;
	border-left: 2px solid #e2e2e2;
	padding: 6px 14px 0 14px;
	margin-top: 10px;
}

 nav .menu li a {
	float: left;
	font-size: 14px;
	color: #999999;
	font-family: 'noto_sansbold';
	text-transform: uppercase;
	text-decoration: none;
}

nav .menu li a span {
	color: #f19a2a;
}

nav .menu li a:hover {
	color: #666666;
	border-bottom: 2px solid #acacac;
}

.search {
	float: left;
	background: #d8d8d8;
	height: 60px;
}

.search-img {
	z-index: 999;
}

.search-bar {
	margin: 10px 0 0 0;
}

.search-bar-control {
	padding-left: 26px;
}

.search-bar img {
	position: absolute;
	top:9px;
	left:5px;
}

.search-icon {
	width: 420px !important;
	padding: 6px 40px;
	margin-top: 5px;
	font-size: 14px;
	font-family: 'noto_sansregular';
	border-radius: 0;
	margin-left: -15px;
}

.shopping {
	margin-top: 10px;
}

.shopping a img {
	margin-top: 7px;
	margin-right: 5px;
	margin-left: 10%;
}

.shopping a {
	font-size: 14px;
	font-family: 'noto_sansbold';
	color: #f25648;
	text-decoration: none;
}

.shopping a span {
	font-size: 12px;
	color: #333333;
	font-family: 'noto_sansregular';
}
/*header ends*/
/*catergories starts*/

.category-images-pro img {
	margin-top: 20px;
	max-width: 100%;
}
.images {
	position: relative;
}

.category-images img, .category-images-video {
	margin-top: 30px;
	max-width: 100%;
}

.category-images a.links, .category-images a.links-chic, .category-images a.links-sea  {
	position: absolute;
	left: 15%;
    top: 80%;
    font-size: 16px;
    color: #fff;
    background: rgba(195,69,58,0.8);
    padding: 8px 85px;
    border-top: 3px solid #ff8176;
    text-decoration: none;
    font-family: 'noto_sansbold';
}

.category-images a.links-chic {
	left: 15%;
	padding: 8px 70px;
	background: rgba(81,201,253,0.8);
	border-top: 3px solid #4eb9e7;
}

.category-images a.links-sea {
	left: 14%;
	padding: 8px 70px;
	background: rgba(227,147,53,0.8);
	border-top: 3px solid #fbb65d;
}

.category-images h3, .category-images h3 span {
	position: absolute;
    left: 25%;
    top: 10%;
    font-size: 30px;
    font-family: 'open_sanslight';
    margin-left: 15px;
    color: #666666;
}

.category-images h3 span {
	top: 100%;
    left: -30%;
    font-size: 50px;
}
/*catergories ends*/
/*order starts*/

.first-order {
	margin-top: 30px;
	border-top: 3px solid #f4f2e9;
	border-bottom:3px solid #f4f2e9;
	margin-bottom: 30px;
}

.offer {
	border-right: 1px solid #f4f2e9;
}

.offer h2 {
	float: left;
	font-size: 43px;
	color: #999999;
}

.offer h2 span {
	float: left;
	font-size: 30px;
	color: #f25648;
}

.purchase-order h3 {
	font-size: 15px;
	text-transform: uppercase;
	color: #666666;
	font-family: 'noto_sansbold';
}

.purchase-order h3 span {
	color: #f25648;
}

.purchase-order p {
	font-size: 14px;
	text-transform: capitalize;
	font-family: 'noto_sansregular';
	margin-top: 25px;
}

.purchase-order img {
	left: 36%;
    position: absolute;
    top: 55%;
}

.frozen-food {
	margin-top: 30px;
	border-top: 3px solid #f4f2e9;
	border-bottom: 3px solid #f4f2e9;
	margin-bottom: 30px;
	padding-bottom: 6px
}

.frozen-offer h2 {
	font-size: 34px;
	color: #f25648;
	font-family: 'noto_sansbold';
}

.frozen-offer span {
	font-size: 20px;
	color: #999999;
	font-family: 'noto_sansbold';
}

.frozen-offer img {
	position: absolute;
	left: 68%;
    top: 25%;
}

.shop-link {
	margin-top: 50px;
    margin-left: 30px;
}

.shop-link a {
	text-decoration: none;
	background: #f25648;
	font-size: 20px;
	color: #fff;
	font-family: 'noto_sansbold';
	padding: 6px;
    border-radius: 3px;

}
/*order ends*/
       /*footer*/

 .subscribe {
 	
 	background: #333333;
 	padding-top: 22px;
 	padding-bottom: 20px;
 }

.message {
 	margin: 0 30px 0 0;
}
 
 .subscribe .news-letter h3, .subscribe .news-letter p {
 	color: #9d9d9d;
 	margin: 8px 0 0 0;
    font-family: 'noto_sansregular'; 	
 }

 .subscribe .news-letter h3 {
 	font-size: 18px;
 }

.subscribe .news-letter p {
 	font-size: 13px;
 }

 .form-detailes {
 	color: #666666;
 	background: #cddce5;
 	border-radius: 0;
 	border: none;
 }

 .mail {
 	padding-top:22px;
 }

 .submit-mail {
 	background: #f25648;
 	border:none;
 	border-radius: 0;
 	color: #fff;
 	font-size: 20px;
 	text-transform: uppercase;
 	padding-bottom: 4px;
 	padding-top: 4px;
 }

.footer-bottom {
	width: 100%;
	background: #89a1ae;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

.footer-bottom .paypal p {
    font-family: 'noto_sansregular'; 	
	color: #fff;
	font-size: 16px;
	margin: 35px 0 0 0;
}

.paypal-img {
	max-width: 100%;
}

.paypal-img {
	margin: 10px 0 0 40px;
}
.footer-links {
	margin: 25px 0 0 20px; 
}

.footer-links li a {
	padding: 0;
}

.footer-links li a:hover {
	background: transparent;
	text-decoration: none;
}

.footer-links li {
	margin-left: 12px; 
}


.footer-links-nav {
	margin: 15px 0 0 30px;
}

.footer-links-nav li a, .copyright {
    font-family: 'noto_sansregular'; 	
	color: #fff;
	font-size: 14px;
	padding: 0 8px;
}

.footer-links-nav li a:hover, a:focus {
	background: transparent;
	text-decoration: underline;
}

.copyright {
	padding-top:10px;
}


.footer-links-nav li {
	border-right: 1px solid #fff;
}
/*footer ends*/
/*best seller starts*/

.best-sellars, .recommended-sell {
	max-width: 100%;
	background: url("/images/bottom-header-bg.png") repeat-y;
	min-height: 61px;
	padding: 36px 0 30px 0;
	border-top:5px solid #e5e5e5;
	margin: 60px 0 0 0;
}

.recommended-sell {
	border-top:none;
	margin: 36px 0 0 0;
	
}

.sellars-heading {
	background: url("/images/best-sellars-bg.png");
	max-width: 100%;
	min-height: 8px;
}

.sellars-heading span {
	font-family: 'noto_sansregular';
	font-size: 20px; 
	color:#f25648;
	text-transform: uppercase;
	background: #fff;
	padding: 16px 20px;
}

.items  {
	margin: 46px 0 0 0 ;
}

.items:nth-child(4n+1) {
	padding-left: 0;
}

.items:last-child {
	padding-right: 0;
}

.sellars-items {
	background: #fff;
	padding-top: 10px;
	min-height: 355px;
	/*text-align: center;*/
}

.sellars-items a img {
	max-width: 100%;
} 

.sellars-items h3 {
	color: #666666;
	font-family: 'noto_sansregular';
	font-size: 16px;
	line-height: 22px;
	height: 30px;
	margin-bottom: 40px;
}



.more-info .border-right {
	border-right: none;
}

.more-info .border-left {
	border-left: none;
}

.more-info a {
	border: 2px solid #d8d8d8;
	padding: 10px;
	color: #666666;
	font-family: 'noto_sansregular';
	font-size: 14px;
}

.more-info  span {
	border-right: 2px solid #666666;
	padding-right:15px;
}

.add-bag {
	background: #51c9fd;
	height: 40px;
	text-align: center;
}

.add-bag p {
	padding: 10px;
}

.add-bag p a {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
}

.recipe-videos {
	margin: 40px 0 0 0; 
}
/*best seller ends*/
/*certificate starts*/

.certificate, .transport{
	width: 580px;
	height: 200px;
	background: #fff;
	border-bottom:2px solid #e5e5e5;
	margin-bottom: 20px;
}

.certificate img, .transport img {
	float: left;
	margin-top: 20px;
	margin-left: 40px;
}

.transport img {
	margin-left: 20px;
}

.certificate ul, .transport ul {
	margin-left: 28%;
    margin: 15px 30px 0 0;
    padding-top: 10px;
    
}
.certificate ul li, .transport ul li {
	list-style: none;
	font-size: 16px;
	color: #666666;
	font-family: 'noto_sansbold';
	line-height: 60px;
	border-bottom: 1px solid #eeeeee;
}

.certificate ul li:last-child, .transport ul li:last-child {
	border-bottom: none;
}

.certificate ul li span, .transport ul li span {
	float: left;
	background: url(/images/arrow.png) no-repeat;
	width: 30px;
	height: 30px;
	margin-left: 10%;
    margin-top: 13px;
    margin-right: 5%;
}

.transport ul li span {
    margin-left: 5%;

}

.transport img {
	margin-top: 60px;
}
/*certificate ends*/

/*invoice css*/

.breadcrumps-bg {
	float: left;
	width: 100%;
	background-color: #e5e5e5;
	height: 30px;

}
 .breadcrumb {
 	background-color: #e5e5e5;
 	height: 30px;
 	padding-top: 6px;
 }

 .breadcrumb li a {
 	font-size: 12px;
 	font-family: 'noto_sansregular';
 	color: #666666;
 }

 .invoices, .mutton {
 	float: left;
 	width: 100%;
 	background: url(/images/bottom-header-bg.png) repeat-y;
 }

 .invoices-list p ,.mutton-list p {
 	float: left;
 	margin-top: 20px;
 	background: #f1a752;
 	width: 280px;
 	padding: 10px;
 	font-size: 20px;
 	color: #fff;
 	font-family: 'noto_sansbold';
 }

 .strip {
 	background: url(/images/strip.png) no-repeat;
 	width: 850px;
 	height: 7px;
 	margin-left: 35px;
    margin-top: 40px;
 }

 .order, .summary {
 	float: left;
 	background: #fff;
 	height: 556px;
 	margin-top: 20px;
 }

 .summary {
 	padding:0;
 }

 .details h2 {
 	font-size: 24px;
 	color: #3399cc;
 	font-family: 'noto_sansregular';
 	padding-left: 10px;
 }

 .details ul li {
 	list-style: none;
 	font-size: 14px;
 	color: #999999;
 }

 .details ul {
 	margin-top: 35px;
 	padding-left: 10px;
 }

 .details li {
 	 margin-bottom: 30px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
}

 .details li img {
 	margin: 0 30px 0 30px;
 	
 }

 .shipping {
 	padding-bottom: 10px;
 	border-bottom: 1px solid #ededed;
 }

 .shipping h2 {
 	font-size: 24px;
 	color: #3399cc;
 }

 .shipping h3, .shipping p, .shipping span {
 	font-size: 14px;
 	color: #666666;
 	font-family: 'noto_sansregular';
 }

 .images {
 	float: left;
 }

 .images ul {
 	padding-left: 10px;
 }

 .images ul li {
 	float: left;
 	list-style: none;
 	padding-top: 20px;
 	margin-right: 30px;
 }

 .images ul li p {
 	font-size: 14px;
 	color: #666666;
 	font-family: 'noto_sansregular';
 	padding-top: 10px
 }

 .order-summary {
 	float: left;
 	background: #dfe8ec;
 	width: 100%;
 	height: 40px;
 }

 .order-summary h2 {
 	font-size: 20px;
 	color: #666666;
 	font-family: 'noto_sansregular';
 	padding-left: 20px;
 }

 .order-images {
 	padding-bottom: 20px;
 }

 .order-images img {
 	margin: 20px 0 0 20px;
 }
 
 .order-content, .order-chick, .order-halal {
 	position: absolute;
    right: 10%;
    top: 10%;
 }

 .order-chick {
    top: 40%;
}

.order-halal {
	top: 72%;
    left: 47%;
}

 .order-content h2, .order-chick h2, .order-halal h2 {
 	font-size: 18px;
 	color: #3399cc;
 	font-family: 'noto_sansregular';
 }

 .order-content h5, .order-chick h5, .order-halal h5 {
 	font-size: 12px;
 	color: #999999;
 	font-family: 'noto_sansregular';
 }

 .order-content h5 span, .order-chick  h5 span, .order-halal h5 span{
 	border-left: 1px solid #c6c6c6;
 	margin-right: 10px;
 }

 .order-content p, .order-chick p, .order-halal p {
 	font-size: 16px;
 	color: #666666;
 }

 .order-content p span, .order-chick p span, .order-halal p span{
 	color: #f25648;
 }
/*ceertificate ends*/


/*invoice*/

.Recommended-Products {
	background: url("/images/recomanded-products-bg.png") no-repeat;
	max-width: 100%;
	height: 7px;
}

.crumbs {
	width: 100%;
	background: #e6e6e6;
	clear: both;
}

.crumbs-content {
	background: transparent;
	margin-bottom: 0;
}

.summary-content {
	padding-right: 0;
	padding-left: 30px;
}

.certificate-content {
	padding-left: 0;
}

.certificate-shipping {
	border-top:1px solid #e3e3e3;	
}

/*mutton page css*/

.mutton-content {
	background: #fff;
	padding: 20px 0 0 0;
}

.mutton-img img {
	border:1px solid #ededed;
	padding: 25px; 
	max-width: 100%;
}

.shipping-img img {
	max-width: 100%;
	margin: -76px 0 0 10px;
}

.form-control.form-control-width {
	width: 114px;
}

.check-availability {
	margin: 20px 0 0 0;
}

.check-availability  img {
	margin: 6px 0 0 24px;
}

.check-button {
	background: #89a1ae;
	margin: 10px 0 0 0;
}

.mutton-curry-content {
	border-bottom: 1px solid #ececec;
	padding: 10px 0 10px 0; 
}

.mutton-curry-content p {
	display: inline-block;
}

.mutton-curry-content img  {
	margin-left: 20px;
	margin-right: 20px;
}

.mutton-curry-content-drop-down {
	display: inline-block;
}

.mutton-curry-content em {
	color: #f25648;
}

.mutton-curry-content a , .form-line{
	display: inline-block;
}

.mutton-curry-content  a img  {
	margin-left: 10px;
	margin-right: 10px;
}

.share {
	background: #f6f6f6;
	margin: 0 0 0 50px;
}

.share img {
	border: 5px solid #ffffff;
	border-radius: 50%;
	padding:30px;
	margin: 0 0 20px 0;
}

.share-images:last-child {
	border-bottom: none;
}

.share-images {
	border-bottom: 2px solid #e3e3e3;
	margin: 20px 0 0 0;
}

.curry-discription {
 	font-family: 'noto_sansregular';
	color: #666666;
}

.certificate-shipping.border-top {
	border-top: none; 
}


/*mutton-list*/
.product-list {
	background: #fff;
	margin: 30px 0 0 0;
}

.product-list  h2 {
	background: #f1a752;
	margin: 0;
	color: #fff;
	padding-left: 20px;
}

.mutton-menu-list {
	padding: 0 10px;
}

.mutton-menu-list li {
	padding: 8px 0 8px 0;
	border-bottom: 1px solid #ececec;
	list-style: none;
	display: block;
}

.mutton-menu-list li a {
	padding-left: 20px;
	font-size:15px;
	color: #666666;
 	font-family: 'noto_sansregular';
}

.mutton-menu-list li:hover {
	background: #f7f7f7;
}

.mutton-menu-list li a:hover {
	color: #f25648;
	text-decoration: none;
}

.mutton-menu-list li span {
	color:#cccccc;
	font-size: 15px;
}

.list-hover {
	list-style: none;
	position: relative;
}

.list-hover span {
	display: none;
}

.list-hover:hover span {
	position: absolute;
	display: block;
	top:28px;
	left: 22px;
	color: #287896;
	font-size:20px;
}

.hover-content {
	display: none;
}

.list-hover:hover .hover-content {
	display: block;
	position: absolute;
	background: #287896;
	width: 300px;
	z-index: 9999;
	top: 35px;
	right: 5%;
	border-radius: 3px;
	outline-width: thin;
} 

.list-hover:hover .hover-content a {
	background: transparent;
}

.list-hover:hover .hover-content a img {
	margin: 10px 0 10px 0;
}

.mutton-list li {
	float: left;
	list-style: none;
	margin-right: 36px;
	display: inline-block;
}

.mutton-list li:last-child {
	margin-right: 0;
}

.mutton-list {
	padding-left: 0;
}

.mutton-curry-content.halal-cut {
	border: none;
}

.mutton-curry-cut.halal-cut {
	border-bottom: 1px solid #ededed;
	padding-bottom: 20px;
	padding-top: 20px;
}

.halal-drop-down {
	margin-top: 14px;
}

.details.halal-cut {
	margin-right: 9%;
}

.sellars-items:hover  {
	border:1px solid #e89d31;
}

.sellars-items {
	position: relative;
}

.add-cart, .add-cart-button{
	display: none;
}

.sellars-items:hover .add-cart {
	display: block;
	position: absolute;
	left:106px;
	top: 55px;
}

.sellars-items:hover .add-cart-button {
	display: block;
	position: absolute;
	left: 76px;
    top: 160px;
}

.add-cart-button {
	background: #fff;
	color: #f25648;
	text-transform: uppercase;
}

.drop-down {
	display: none;
